:root {
    --gry-0: #fff9ee;
    --gry-0a: #f8f3e7;
    --gry-1: #f2ece1;
    --gry-2: #e5dfd4;
    --gry-3: #d3cec2;
    --gry-4: #bebaae;
    --gry-5: #a8a497;
    --gry-6: #959184;
    --gry-7: #787668;
    --gry-8: #5d5b4e;
    --gry-9: #4a483b;
    --gry-a: #2b2a1d;
    --gry-ba: #1f1f11;
    --gry-b: #191806;
    --red-0: #fff8f6;
    --red-0a: #ffefed;
    --red-1: #ffe7e4;
    --red-2: #ffd6d1;
    --red-3: #ffbeb6;
    --red-4: #ffa196;
    --red-5: #ff7c71;
    --red-6: #ed665e;
    --red-7: #cc4844;
    --red-8: #ab292c;
    --red-9: #920b1b;
    --red-a: #5d0006;
    --red-ba: #470000;
    --red-b: #380200;
    --vlt-0: #fff7fa;
    --vlt-0a: #ffeef5;
    --vlt-1: #ffe5ef;
    --vlt-2: #ffd4e3;
    --vlt-3: #ffbad4;
    --vlt-4: #ff9bc3;
    --vlt-5: #f57dae;
    --vlt-6: #e06a9b;
    --vlt-7: #c04c7f;
    --vlt-8: #a02e64;
    --vlt-9: #891450;
    --vlt-a: #580030;
    --vlt-ba: #440023;
    --vlt-b: #37001b;
    --blu-0: #f1fbff;
    --blu-0a: #e5f6ff;
    --blu-1: #d7f0ff;
    --blu-2: #bae6ff;
    --blu-3: #a8d4ef;
    --blu-4: #94c0db;
    --blu-5: #7faac4;
    --blu-6: #6b97b0;
    --blu-7: #4f7b93;
    --blu-8: #336077;
    --blu-9: #1d4d63;
    --blu-a: #002e41;
    --blu-ba: #002232;
    --blu-b: #001a28;
    --grn-0: #f3ffb9;
    --grn-0a: #eafba8;
    --grn-1: #e4f5a2;
    --grn-2: #d7e896;
    --grn-3: #c5d685;
    --grn-4: #b1c272;
    --grn-5: #9aac5e;
    --grn-6: #87994c;
    --grn-7: #6b7d31;
    --grn-8: #4f6217;
    --grn-9: #3b4e00;
    --grn-a: #242e00;
    --grn-ba: #1c2100;
    --grn-b: #161900;
    --yel-0: #fff8dd;
    --yel-0a: #fff1cb;
    --yel-1: #ffe9b5;
    --yel-2: #ffda7e;
    --yel-3: #f8c851;
    --yel-4: #e2b43d;
    --yel-5: #ca9e25;
    --yel-6: #b48c08;
    --yel-7: #937100;
    --yel-8: #725700;
    --yel-9: #5b4500;
    --yel-a: #362800;
    --yel-ba: #281d00;
    --yel-b: #1f1600;
}